In [1]:
import pandas as pd

In [2]:
traindf=pd.read_csv("train.csv")

In [3]:
traindf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
traindf.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
traindf = pd.DataFrame(traindf[['Pclass', 'Sex', 'Age','Fare','Survived']])

In [6]:
traindf.columns

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Survived'], dtype='object')

In [7]:
traindf.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [8]:
traindf_one_hot = pd.get_dummies(traindf, columns = ['Sex'])

In [9]:
traindf_one_hot.head()

   Pclass   Age     Fare  Survived  Sex_female  Sex_male
0       3  22.0   7.2500         0           0         1
1       1  38.0  71.2833         1           1         0
2       3  26.0   7.9250         1           1         0
3       1  35.0  53.1000         1           1         0
4       3  35.0   8.0500         0           0         1

In [10]:
traindf_one_hot.isnull().sum()

Pclass          0
Age           177
Fare            0
Survived        0
Sex_female      0
Sex_male        0
dtype: int64

In [11]:
traindf_one_hot['Age'] = traindf_one_hot['Age'].fillna(traindf_one_hot['Age'].mean())

In [12]:
traindf_one_hot.isnull().sum()

Pclass        0
Age           0
Fare          0
Survived      0
Sex_female    0
Sex_male      0
dtype: int64

In [13]:
X = traindf_one_hot[['Pclass', 'Age', 'Fare', 'Sex_female', 'Sex_male']]
y = traindf_one_hot['Survived']

In [14]:
X.shape,y.shape

((891, 5), (891,))

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [16]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((668, 5), (223, 5), (668,), (223,))

In [17]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

In [18]:
logreg.fit(X_train,y_train)

LogisticRegression()

In [19]:
y_pred = logreg.predict(X_test)

In [20]:
from sklearn import metrics

print('Accuracy: ',metrics.accuracy_score(y_test, y_pred))
print('Confusion Matrix : ', metrics.confusion_matrix(y_test,y_pred))
print('Precision Score : ', metrics.precision_score(y_test, y_pred))
print('Recall Score : ', metrics.recall_score(y_test, y_pred))

Accuracy:  0.7937219730941704
Confusion Matrix :  [[109  21]
 [ 25  68]]
Precision Score :  0.7640449438202247
Recall Score :  0.7311827956989247

In [21]:
testdf=pd.read_csv("test.csv")

In [22]:
testdf.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
testdf.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
testdf = pd.DataFrame(testdf[['Pclass', 'Sex', 'Age','Fare']])

In [25]:
testdf.columns

Index(['Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [26]:
testdf.head()

   Pclass     Sex   Age     Fare
0       3    male  34.5   7.8292
1       3  female  47.0   7.0000
2       2    male  62.0   9.6875
3       3    male  27.0   8.6625
4       3  female  22.0  12.2875

In [27]:
testdf_one_hot = pd.get_dummies(testdf, columns = ['Sex'])

In [28]:
testdf_one_hot.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  34.5   7.8292           0         1
1       3  47.0   7.0000           1         0
2       2  62.0   9.6875           0         1
3       3  27.0   8.6625           0         1
4       3  22.0  12.2875           1         0

In [29]:
testdf_one_hot.isna().sum()

Pclass         0
Age           86
Fare           1
Sex_female     0
Sex_male       0
dtype: int64

In [30]:
testdf_one_hot['Age'] = testdf_one_hot['Age'].fillna(testdf_one_hot['Age'].mean())

In [31]:
testdf_one_hot['Fare'] = testdf_one_hot['Fare'].fillna(testdf_one_hot['Fare'].mean())

In [32]:
testdf_one_hot.isna().sum()

Pclass        0
Age           0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [33]:
logreg.predict(testdf_one_hot)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [34]:
testdf_one_hot['predictions'] = logreg.predict(testdf_one_hot)
testdf_one_hot.head()

   Pclass   Age     Fare  Sex_female  Sex_male  predictions
0       3  34.5   7.8292           0         1            0
1       3  47.0   7.0000           1         0            0
2       2  62.0   9.6875           0         1            0
3       3  27.0   8.6625           0         1            0
4       3  22.0  12.2875           1         0            1